/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/node_modules
yarn.lock
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/spec/support/test_application/node_modules
/spec/support/test_application/tmp
/spec/support/test_application/log
/spec/support/test_application/public
/spec/support/test_application/db/*.sqlite3
/spec/support/test_application/yarn-error.log
/spec/support/test_application/yarn-debug.log*
/spec/support/test_application/.yarn-integrity
