/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/node_modules
yarn.lock
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/spec/node_modules
/spec/yarn.lock
/spec/tmp
/spec/public